.App_Container {
  display: flex;
  color: whitesmoke;
  align-items: center;
  height: 100vh;
  justify-content: center;

}
body{
  height: 100vh;
  background-color: #09414c;
  background: linear-gradient(84deg, #09414c 20%, #4c6b92 80%);
  background: -webkit-linear-gradient(84deg, #09414c 20%, #4c6b92 80%);
  background: -moz-linear-gradient(84deg, #09414c 20%, #4c6b92 80%);
}
.Weather_Main {
  display: flex;
  width: 80vw;
  min-height: 80vh;
  border-radius: 5px;
  background-color: rgba(45, 45, 45, 0.2);
  box-shadow: 12px 10px 35px 3px rgba(0, 0, 0, 0.66);
  -webkit-box-shadow: 12px 10px 35px 3px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 12px 10px 35px 3px rgba(0, 0, 0, 0.66);
}
.Left {
  flex-grow: 1;
  min-width: 62%;
  min-height: 80vh;

}
.Right {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.Input_Box{
  position: relative;
  flex-grow: 1;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.Right_Box{
  flex-grow: 15;
  padding: 10px 30px;
  background-color: rgba(0, 0, 0, 0.7);
}
form {
  margin: 0px 30px;
  padding-top: 48px;
}
form input {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 20px;
  width:70%;
  padding-bottom: 2px;
  border-bottom: 1.5px solid rgb(208, 205, 205);
}
form input::placeholder {
  font-size: 19px;
  color: white;
  padding-left: 5px;
}
button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  outline: none;
  font-size: 16px;
  min-width: 70px;
  min-height: 75px;
  border-radius: 1px;
  color: whitesmoke;
  background-color: #09414c;
  border: 1px solid #09414c;
  transition: 0.3s ease-in-out;
}
button:hover {
  background-color: #001114;
  border-color:#001114;
}
@media screen and (max-width: 650px) {
  .Weather_Main {
    flex-direction: column;
  }
  .App_Container{
    height: 170vh;
    padding-top:50px;
    align-items: flex-start;
  }
}
