.img_c{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width:100%;
    height:80vh;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}
.info_Box{
    margin-bottom: 50px;
    width: 70%;
    height: 15vh;
}